.search-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search-input {
    padding: 8px 15px;
    font-size: 15px;
    width: 250px;
    border-width: 0;
    background: #a592f2;
    color: #e7e9e7;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(255, 255, 249);
}

.search-input::placeholder {
    color: white;
}

.search-input:focus {
    outline: none;
}